body {
    font-family: sans-serif;
}

navbar-nav {
    text-align: right;
}

h3 {
    margin-left: 10px;
}

hr {
    border-color: black;
    opacity: 5 !important;
}

#fotoperf {
    width: 200px;
    border-radius: 10%;
}

#ig {
    width: 30px;
}

#git {
    width: 30px;
}

#followers {
    width: 30px;
}

.testeazinho {
    text-decoration: none;
    color: black;
}

.testeazinho:hover {
    color:  rgb(86, 86, 86);
}

#carrosel{
    width: 700px;
    height: 400px;
}

.imgcolegas{
    object-fit: contain;
    max-height: 200px;
}